* {

    font-family: 'Courier New', Courier, monospace;

}

h3 {

    font-size: 25px;

    margin-left: 20px;

}

#line-00 {

    background-color: black;

    width: 50px;
    height: 1px;
    
    margin-left: 22px;
    margin-top: -22px;

}

#formas {

    background-color: white;

    width: 80px;
    height: 400px;

    max-width: 100%;

    border-radius: 2.5px;

    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.158);

    margin-left: 20px;
    margin-top: 15px;

}

#quadrado {

    background-color: white;

    width: 30px;
    height: 30px;

    border: 1px solid black;

    position: relative;
    top: 20px;

    margin-left: 24px;

    cursor: pointer;

}

    #quadrado:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);

        transition: 250ms;

    }

#line-01 {

    background-color: black;

    width: 65px;
    height: 1px;
    
    margin-left: 8px;
    margin-top: 8px;

}

#triangulo {

	width: 0;
    height: 0;

    border-color: black;
    
	border-left: 20px solid white;
    border-right: 20px solid white;
    
    border-bottom: 35px solid white;
    
    position: relative;
    top: 60px;

    margin-left: 20px;

    cursor: pointer;

}

#trianguloBorder {

    width: 0;
    height: 0;

    border-color: black;
    
	border-left: 20px solid white;
    border-right: 20px solid white;
    
    border-bottom: 35px solid black;

}

    #triangulo:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);

        transition: 250ms;

    }

@media (max-width: 440px) {

    h3 {

        font-size: 20px;

    }

    #formas {

        width: 380px;
        height: 40px;

        margin: auto;
        margin-top: 15px;

    }

    #quadrado {

        width: 20px;
        height: 20px;

        position: relative;
        top: 1.4vh;
        
        margin-left: 10px;

    }

}