* {

    font-family: 'Courier New', Courier, monospace;

}

html {

    overflow: hidden;

}

h3 {

    font-size: 25px;

    margin-left: 20px;

}

#line-00 {

    background-color: black;

    width: 50px;
    height: 1px;
    
    margin-left: 22px;
    margin-top: -22px;

}

#formas {

    background-color: white;

    width: 70px;
    height: 355px;

    border-radius: 2.5px;

    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.158);

    margin-left: 20px;
    margin-top: 15px;

    z-index: 2;

}

#check {

    background-color: white;

    border: 2px solid white;

    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.137);

    position: absolute;
    
    margin-top: -50px;
    margin-left: 82px;

    opacity: 0;

    z-index: 3;

}

#quadrado {

    background-color: black;

    width: 27px;
    height: 27px;

    position: relative;
    top: 18px;

    margin-left: 22px;

    cursor: pointer;

    z-index: 2;

}

    #quadrado:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);

        transition: 250ms;

    }

#line-01 {

    background-color: black;

    width: 57.2px;
    height: 0.5px;
    
    margin-left: 7px;
    margin-top: -105.8px;

    z-index: 2;

}

#retangulo {

    background-color: black;

    width: 37px;
    height: 27px;

    position: relative;
    top: 47px;

    margin-left: 17.5px;

    cursor: pointer;

    z-index: 2;

}

    #retangulo:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);

        transition: 250ms;

    }

#line-02 {

    background-color: black;

    width: 57.2px;
    height: 0.5px;
    
    margin-left: 7px;
    margin-top: 55.5px;    

    z-index: 2;

}

#triangulo {

    width: 0;
    height: 0;

    border-bottom: 31px solid black;

    border-left: 16px solid transparent;
    border-right: 16px solid transparent;

    position: relative;
    top: 75px;

    margin-left: 19px;

    cursor: pointer;

    z-index: 2;

}

    #triangulo:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);

        transition: 250ms;

    }

#line-03 {

    background-color: black;

    width: 57.2px;
    height: 0.5px;
    
    margin-left: 7px;
    margin-top: 59px;   

    z-index: 2;

}

#losango {

    background-color: black;

    width: 27px;
    height: 27px;

    position: relative;
    top: 110px;

    transform: rotate(45deg);

    margin-left: 22.5px;

    cursor: pointer;

    z-index: 2;

}

    #losango:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);
        transform: rotate(45deg);

        transition: 250ms;

    }

#line-04 {

    background-color: black;

    width: 57.2px;
    height: 0.5px;
    
    margin-left: 7px;
    margin-top: 67px;   

    z-index: 2;

}

#trapezio {

    height: 0;
	width: 22px;

    border-bottom: 26px solid black;
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    position: relative;
    top: 145px;

    margin-left: 14px;

    cursor: pointer;

    z-index: 2;

}

    #trapezio:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);

        transition: 250ms;

    }

#line-05 {

    background-color: black;

    width: 57.2px;
    height: 0.5px;
    
    margin-left: 7px;
    margin-top: 55px;   

    z-index: 2;

}

#circulo {

    background-color: black;

    width: 27px;
    height: 27px;

    border-radius: 50%;

    position: relative;
    top: 174px;

    margin-left: 21.7px;

    cursor: pointer;

    z-index: 2;

}

    #circulo:hover {

        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);

        transform: scale(1.05);

        transition: 250ms;

    }

#formula {

    font-size: 1.1em;

    position: absolute;
    top: 7%;
    left: 85%;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);

    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;

    animation: cursorBlink 1500ms steps(40) infinite normal, typing 10000ms steps(190) normal 1 both;

    display: none;

    z-index: 2;

}

#calculo00 {

    word-wrap: break-word;

    font-size: 1.1em;

    position: absolute;
    top: 11%;
    left: 85%;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);

    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;

    animation: cursorBlink 1500ms steps(40) infinite normal, typing 10000ms steps(190) normal 1 both;

    display: none;

    z-index: 2;

}

#calculo01 {

    font-size: 1.1em;

    position: absolute;
    top: 15%;
    left: 85%;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);

    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;

    animation: cursorBlink 1500ms steps(40) infinite normal, typing 10000ms steps(190) normal 1 both;

    display: none;

    z-index: 2;

}

#calculo02 {

    font-size: 1.1em;

    position: absolute;
    top: 19%;
    left: 85%;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);

    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;

    animation: cursorBlink 1500ms steps(40) infinite normal, typing 10000ms steps(190) normal 1 both;

    display: none;

    z-index: 2;

}

#calculo03 {

    font-size: 1.1em;

    position: absolute;
    top: 23%;
    left: 85%;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);

    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;

    animation: cursorBlink 1500ms steps(40) infinite normal, typing 10000ms steps(190) normal 1 both;

    display: none;

    z-index: 2;

}

#calculo04 {

    font-size: 1.1em;

    position: absolute;
    top: 27%;
    left: 85%;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);

    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;

    animation: cursorBlink 1500ms steps(40) infinite normal, typing 10000ms steps(190) normal 1 both;

    display: none;

    z-index: 2;

}

#area {

    font-size: 1.1em;

    position: absolute;
    top: 19%;
    left: 85%;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(0, 0, 0);

    white-space: nowrap;
    max-width: 0vw; 
    overflow: hidden;

    animation: cursorBlink 1500ms steps(40) infinite normal, typing 10000ms steps(190) normal 1 both;

    display: none;

    z-index: 2;

}

    @keyframes cursorBlink {

        100% {border-right-color: transparent;}

    }

    @keyframes typing {

        100% {max-width: 100vw;}

    }    

#forma {
    
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    z-index: 1;    

}

    @keyframes increaseOut {

        from {transform: scale(0);}
        to {transform: scale(1);}

    }

    @keyframes rotateForma {

        100% {transform: rotate(3600deg);}

    }

    @keyframes resetRotateForma {

        100% {transform: rotate(360deg);}

    }

#medidas {

    position: absolute;
    top: 83%;
    left: 11%;

    margin-top: -1%;
    margin-left: 1%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    z-index: 2;

    transition: 250ms;

}

#labelBaseMenor {

    display: none;

}

#baseMenorForma {

    width: 60px;
    height: 20px;

    border: none;
    border-radius: 5px;

    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.178);

    outline: none;

    display: none;

}

#baseForma {

    width: 60px;
    height: 20px;

    border: none;
    border-radius: 5px;

    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.178);

    outline: none;

}

#alturaForma {

    width: 60px;
    height: 20px;

    border: none;
    border-radius: 5px;

    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.178);

    margin-top: 0px;

    outline: none;

}

button {

    background-color: white;

    padding: 5px;

    border: 1px solid black;

    cursor: pointer;

    transition: 250ms;

    outline: none;

}

button:hover {

    background-color: black;

    color: white;

    border: 1px solid white;

}

@media (max-width: 500px) {

    h3 {

        font-size: 20px;

    }

    #check {

        display: none;

    }

    #formas {

        width: 260px;
        height: 40px;

        margin-top: 15px;
        margin-left: 15px;

    }

    #quadrado {

        width: 20px;
        height: 20px;

        top: 10px;
            
        margin-left: 10px;

    }

    #line-01 {

        width: 0.5px;
        height: 30px;

        margin-top: -108.5px;
        margin-left: 39.5px;

    }

    #retangulo {

        width: 30px;
        height: 20px;

        top: -10px;

        margin-left: 50px;

    }

    #line-02 {

        width: 0.5px;
        height: 30px;

        margin-top: -30px;
        margin-left: 90px;

    }

    #triangulo {

        border-bottom: 20px solid black;

        border-left: 11px solid transparent;
        border-right: 11px solid transparent;

        top: -30px;

        margin-left: 100px;

    }

    #line-03 {

        width: 0.5px;
        height: 30px;

        margin-top: -30px;
        margin-left: 130px;

    }

    #losango {

        width: 17px;
        height: 17px;

        top: -48px;
            
        margin-left: 143px;

    }

    #line-04 {

        width: 0.5px;
        height: 30px;

        margin-top: -30px;
        margin-left: 172px;

    }

    #trapezio {

        width: 15px;

        border-bottom: 20px solid black;

        border-left: 8px solid transparent;
        border-right: 8px solid transparent;

        top: -67px;

        margin-left: 182px;

    }

    #line-05 {

        width: 0.5px;
        height: 30px;

        margin-top: -30px;
        margin-left: 223px;            

    }

    #circulo {

        width: 17px;
        height: 17px;

        top: -85px;
            
        margin-left: 233px;

    }

    #area {

        font-size: 1.1em;
    
        position: absolute;
        top: 19%;
        left: 11%;

        animation: cursorBlink 1500ms steps(10) infinite normal, typing 3000ms steps(50) normal 1 both;
    
    }

    #forma {
    
        position: absolute;
        top: 45%;
        left: 50%;
    
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    
    }

    #medidas {

        position: absolute;
        top: 81%;
        left: 20%;
    
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

}

@media (min-height: 700px) {

    #medidas {

        position: absolute;
        top: 87%;
        left: 20%;
    
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);      

    }

}